img{
  /*180度回転画像*/
  width: 50%;
  transform: rotate(180deg);
  padding: 10px;
}

img.deg90 {
  /*90度回転画像*/
  width: 50%;
  transform: rotate(90deg);
  filter: blur(-10px);
  margin: 50px 0px;
}

img.degNone{
  transform: rotate(0deg);
}

img.imgBox{
  width: 97%;
  padding: 0px 10px 10px;
}

li.listNone {
  text-align: center;
}