.flex {
  /*横並びの親要素*/
  display: flex;
}

.block {
  /*ブロック要素*/
  display: block;
}

ul {
  /*項目の順序なしリスト*/
  padding: 0px;
  margin: 0px;
}

li {
  /*箇条書きリスト*/
  list-style: none;
}

h1 {
  /*<H1>タグ*/
  margin: 0px;
  padding: 0px;
  font-size: 24px;
}

h2 {
  /*<h2>タグ*/
  margin-bottom: 0px;
}

hr {
  /*ネタの区切りに使う<hr>タグ*/
  border-width: 0 0 6px;
  border-style: solid;
  border-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 2 1"><circle fill="hsla(0, 0%, 65%, 1.0)" cx="1" cy="0.5" r="0.5"/></svg>') 0 0 100% repeat;
  width: 300px;
}

p {
  /*<p>タグ*/
  margin: 0px 20px;
  padding: 0px;
  font-size: 18px;
}

a {
  /*<a>タグ*/
  color: darkblue;
  text-decoration: none;
}

.sticky {
  /*追従するサイドバー*/
  position: -webkit-sticky;
  position: sticky;
  top: 100px;
}

iframe {
  /*<iframe>タグ*/
  width: 100%;
}