body {
  /*ボディ*/
  background: skyblue;
  text-align: center;
  letter-spacing: -1px;
  margin: 0px;
  padding: 0px;
  color: black;
  /*フォント*/
  font-family: dnp-shuei-gothic-gin-std, sans-serif;
  font-style: normal;
  font-weight: 400;
}

#loader {
  /*ローダー*/
  display: none;
}

.header_image {
  /*ヘッダー上の画像*/
  height: 100px;
  object-fit: cover;
}

.header {
  /*ヘッダー*/
}

/*///////////////////////////////////////////////////////////////////////*/

a {
  /*<a>タグ*/
  color: black;
  text-decoration: none;
}

img {
  /*画像*/
  width: 100%;
}