body {
  /*ボディ*/
  background: skyblue;
  text-align: center;
  letter-spacing: -1px;
  margin: 0px;
  padding: 0px;
  color: black;
  /*フォント*/
  font-family: dnp-shuei-gothic-gin-std, sans-serif;
  font-style: normal;
  font-weight: 400;
}

::-webkit-scrollbar {
  /*スクロールバー全体*/
  width: 11px;
  height: 11px;
}

::-webkit-scrollbar-thumb {
  /*スクロールバーの動く部分*/
  background-color: rgba(0, 0, 0, .35);
  border-radius: 10px;
}

#loader {
  /*ローダー*/
  display: flex;
  justify-content: center;
  align-items: center;
  background: palegreen;
  /*アニメーション用*/
  transition: height 1s, opacity 1s;
  height: 100vh;
  opacity: 1;
}

#loader.none {
  /*ローダーが消えるとき*/
  height: 0px;
  opacity: 0;
}

.header_image {
  /*ヘッダーの上にある画像*/
  height: 500px;
  width: 100%;
  object-fit: cover;
  margin-bottom: -7px;
}

header {
  /*ヘッダー*/
  background: black;
  position: absolute;
  width: 100%;
}

header.fixed {
  /*ヘッダーが固定されたとき*/
  position: fixed;
  top: 0px;
  width: 100%;
  z-index: 999;
}

.main {
  /*メイン*/
  width: 75%;
  margin: 120px auto 40px;
}

.sideBar_left {
  /*メインの左側にあるサイドバー*/
  background: skyblue;
  width: 18%;
}

main {
  /*中央のメイン枠*/
  width: 64%;
}

.sideBar_right {
  /*メインの右側にある目次*/
  background: skyblue;
  width: 18%;
  justify-content: center;
}

footer {
  /*フッター*/
  background: black;
}

#pageTop_link {
  /*ページtopにジャンプするやつ*/
  background: snow;
  position: fixed;
  bottom: 10%;
  right: 5%;
  width: 100px;
  height: 50px;
  font-size: 26px;
  border-radius: 5px;
  /*アニメーション用*/
  transition: margin-right .5s, visibility .5s;
  margin-right: -15%;
  visibility: hidden;
}

#pageTop_link.show {
  /*ページtopにジャンプするやつがアニメーションしたときのやつ*/
  margin-right: 0%;
  visibility: visible;
}

#pageTop_link:hover {
  /*ページtopにジャンプするやつがホバーしたときのやつ*/
  background: orange;
  color: white;
}

/*//////////////////////////////////////////////////////////////////////////////*/

/*//////////////////////////////////////////////////////////////////////////////*/

.mainSpace {
  /*ど真ん中のメイン記事*/
  background: snow;
  border-radius: 3px;
  margin: 0px 20px;
  padding: 10px;
  text-align: left;
}

.main-contents {
  /*メインのネタ1個分*/
  margin: 10px 10px 50px;
  font-size: 24px;
  line-height: 22px;
  letter-spacing: -1px;
  text-align: left;
}

div.listSpace {
  /*リスト1列分*/
  padding-bottom: 15px;
}

.listMain {
  overflow-x: scroll;
  overflow-y: hidden;
}

p.listTitle {
  /*リストのタイトル*/
  text-align: left;
}

.oneContentSpace {
  /*右の記事とのpadding*/
  margin-right: 5px;
  margin-bottom: 5px;
}

.thumbnailSpace {
  /*サムネ画像とタイトルを含むリンクスペース*/
  position: relative;
  height: 118px;
  width: 210px;
  border: 3px solid skyblue;
}

.thumbnail {
  /*サムネイル*/
  height: 100%;
  width: 100%;
}

.thumbnailTextSpace {
  /*サムネイル上のタイトルテキストの下*/
  background: rgba(255, 255, 255, 0.7);
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  transform: translate(0, -100%);
}

p.thumbnailText {
  /*サムネイル上のタイトル*/
  font-size: 24px;
  font-weight: bold;
  color: black;
}

ul.sideIndex {
  /*目次用,項目の順序なしリスト*/
  padding: 0px;
  margin: 0px;
}

li.sideIndex {
  /*目次用,箇条書きリスト*/
  list-style: none;
}

ul.topList {
  /*リスト用,項目の順序なしリスト*/
  padding: 0px;
  margin: 0px;
}

li.oneContentSpace {
  /*リスト用,箇条書きリスト*/
  list-style: none;
}