body {
  /*ボディ*/
  background: skyblue;
  font-family: vdl-yotag, sans-serif;
  text-align: center;
  letter-spacing: -1px;
  margin: 0px;
  padding: 0px;
  color: black;
}

::-webkit-scrollbar {
  /*スクロールバー全体*/
  width: 11px;
}

::-webkit-scrollbar-thumb {
  /*スクロールバーの動く部分*/
  background-color: rgba(0, 0, 0, .35);
  border-radius: 10px;
}

#loader {
  /*ローダー*/
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.header_image {
  /*ヘッダーの上にある画像*/
  height: 500px;
  width: 100%;
  transform: rotate(180deg);
  object-fit: cover;
  margin-bottom: -10px;
}

header {
  /*ヘッダー*/
  background: cornflowerblue;
  justify-content: space-between;
  width: 100%;
  position: absolute;
  padding: 10px 0px;
}

header.fixed {
  /*ヘッダーが固定されたとき*/
  position: fixed;
  top: -1px;
  z-index: 999;
}

.logo {
  /*ヘッダーのロゴ*/
  margin: auto 20px;
  font-size: 30px;
}

.top_nav {
  /*ヘッダーのメニュー*/
  margin-right: 30px;
}

.nav_menu {
  /*top_navの中身*/
  margin: auto 8px;
}

.main {
  /*メイン*/
  background: snow;
  width: 75%;
  margin: 70px auto 0px;
  justify-content: center;
}

main {
  /*中央のメイン枠*/
  background: skyblue;
  width: 60%;
  height: auto;
}

.sideBar_left {
  /*メインの左側にあるサイドバー*/
  background: skyblue;
  width: 20%;
}

.sideBar_right {
  /*メインの右側にある目次*/
  background: skyblue;
  width: 20%;
  justify-content: center;
}

footer {
  /*フッター*/
  background: cornflowerblue;
}

.mail {
  /*フッターの連絡先メール*/
  justify-content: center;
}

.copyright {
  /*コピーライト表記*/
  font-size: 12px;
}

#pageTop_link {
  /*ページtopにジャンプするやつ*/
  background: snow;
  position: fixed;
  bottom: 10%;
  right: 5%;
  width: 100px;
  height: 50px;
  font-size: 26px;
  border-radius: 5px;
  /*アニメーション用*/
  transition: margin-right .5s, visibility .5s;
  margin-right: -15%;
  visibility: hidden;
}

#pageTop_link:hover {
  /*ページtopにジャンプするやつがホバーしたときのやつ*/
  background: pink;
  color: white;
  position: fixed;
  bottom: 10%;
  right: 5%;
  width: 100px;
  height: 50px;
  font-size: 28px;
  border-radius: 5px;
}

#pageTop_link.show {
  /*ページtopにジャンプするやつがアニメーションしたときのやつ*/
  margin-right: 0%;
  visibility: visible;
}

/*////////////////////////////////////////////////////////////////////////////////////////////////////*/

.flex {
  /*横並びの親要素*/
  display: flex;
}

ul {
  /*項目の順序なしリスト*/
  padding: 0px;
  margin: 0px;
}

li {
  /*箇条書きリスト*/
  list-style: none;
}

h2 {
  /*<h2>タグ*/
  margin-bottom: 0px;
}

hr {
  /*ネタの区切りに使う<hr>タグ*/
  border-width: 0 0 6px;
  border-style: solid;
  border-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 2 1"><circle fill="hsla(0, 0%, 65%, 1.0)" cx="1" cy="0.5" r="0.5"/></svg>') 0 0 100% repeat;
  width: 300px;
}

p {
  /*<p>タグ*/
  margin: 0px;
}

a {
  /*<a>タグ*/
  color: black;
  text-decoration: none;
}

.sticky {
  /*追従するサイドバー*/
  position: -webkit-sticky;
  position: sticky;
  top: 80px;
}

iframe {
  /*<iframe>タグ*/
  width: 100%;
}

h1 {
  /*H1*/
  margin: 0px 10px;
  font-size: 24px;
  height: 40px;
  top: -10px;
}