body {
  /*ボディ*/
  color: black;
  font-family: vdl-yotag, sans-serif;
  text-align: center;
  letter-spacing: -1px;
  margin: 0px;
  padding: 0px;
}

.sideBarBlock {
  background: snow;
  margin: 10px;
  border-radius: 4px;
}

.stripe {
  /*サイドメニューのストライプ線関係*/
  position: relative;
  margin: 0px;
}

.stripe::after {
  /*サイドメニューのストライプ線関係*/
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 7px;
  background: repeating-linear-gradient(-45deg, skyblue, skyblue 2px, white 2px, white 4px);
}

.sideBarContents {
  padding: 10px;
}

.SNS-icon {
  /*SNSのWebアイコンフォント*/
  color: skyblue;
  font-size: 45px;
  text-decoration: none;
}

.SNS-icon:hover {
  /*SNSWebアイコンフォントをホバーしたときの変化分*/
  color: orange;
  text-decoration: none;
}

.note {
  /*Discordのふきだしの枠*/
  display: none;
  width: 220px;
  position: absolute;
  top: 170px;
  left: 40px;
  padding: 5px;
  border-radius: 5px;
  border-color: black;
  background: orange;
  color: snow;
  font-size: 18px;
  z-index: 999;
}

.note::after {
  /*Discordのふきだしの三角*/
  position: absolute;
  width: 0;
  height: 0;
  left: 0;
  bottom: 35px;
  margin-left: 140px;
  border: solid transparent;
  border-color: rgba(0, 0, 0, 0);
  border-bottom-color: orange;
  border-width: 12px;
  pointer-events: none;
  content: " ";
}

.balloon:hover+.note {
  /*Discordのふきだし関係*/
  display: block;
}

@font-face {
  /*noteのアイコンフォント関係*/
  font-family: 'icomoon';
  src: url('../css/fonts/icomoon.eot?2t2vtz');
  src: url('../css/fonts/icomoon.eot?2t2vtz#iefix') format('embedded-opentype'), url('../css/fonts/icomoon.ttf?2t2vtz') format('truetype'), url('../css/fonts/icomoon.woff?2t2vtz') format('woff'), url('../css/fonts/icomoon.svg?2t2vtz#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-note::before {
  /*note用のアイコン*/
  content: "\e900";
}

a {
  /*<a>タグ*/
  color: black;
  text-decoration: none;
  margin: 0px;
  padding: 0px;
}

.flex {
  display: flex;
}

.block {
  display: block;
}

.authorImage {
  width: 30%;
  height: 50px;
}

.authorText {
  width: 70%;
}

p {
  margin: 0px;
  padding: 0px;
}